@charset "UTF-8";
@font-face {
  font-family: Roboto-Medium;
  /* Имя шрифта */
  src: url(../fonts/Roboto-Medium.ttf);
  /* Путь к файлу со шрифтом */
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  display: -ms-grid;
  display: grid;
  grid-template: 'header header header header header header' 'main main main main main main' 'block-katalog block-katalog block-katalog block-katalog block-katalog block-katalog';
}

.header {
  padding: 0 auto;
  grid-area: header;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
  height: 60px;
  color: #00508F;
  font-family: Roboto-Medium;
  font-size: 12px;
  width: 950px;
  margin: auto;
  left: 0;
  right: 0;
}

.header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact-block > img {
  margin: auto 0;
}

.contact-block > h3 {
  line-height: 35px;
}

.logo > img {
  margin: auto 0;
}

.logo {
  margin-right: 73px;
  margin-left: 15px;
}

.contact-block {
  margin-right: 380px;
}

.contact-block > h3 {
  white-space: pre;
}

.contact-block > img:first-child {
  margin-right: 15px;
}

.contact-block > .arrow-down {
  margin-left: 10px;
}

.sing-up > h3 {
  margin-right: 20px;
  line-height: 35px;
}

.sing-up > img {
  margin: auto 15px auto 0;
}

.sing-up:after {
  margin: auto 0;
  content: '';
  height: 18px;
  width: 1px;
  background-color: #00508F;
}

.sing-in {
  line-height: 35px;
}

.sing-in {
  margin-left: 20px;
}

.sing-in > img {
  margin: auto 15px auto 0;
}

.toggle-contact {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  background-color: #0467B3;
  color: white;
  margin: 60px auto;
}

.menu {
  margin: 0 auto;
  width: 950px;
}

.main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: Roboto-Medium;
  height: 60px;
}

.head-menu {
  background-color: #00508F;
  font-size: 15px;
  width: 300px;
  height: 30px;
  padding-right: 15px;
}

.icon-cub {
  float: left;
  margin: -5px 25px 0 25px;
}

.arrow-up-menu {
  float: right;
  margin-top: -30px;
}

.list-menu {
  background-color: #00508F;
}

.input-field {
  margin: auto 0;
  margin-left: 20px;
  margin-right: 100px;
  width: 300px;
  border-bottom: 1px solid white;
}

.input-field > input {
  background-color: #0467B3;
  outline: none;
  border-style: none;
  caret-color: white;
  width: 280px;
  color: white;
}

.input-field > img {
  margin-left: 285px;
}

.input-field > input::-webkit-input-placeholder {
  color: white;
  font-family: Roboto-Medium;
  font-size: 10px;
  padding-bottom: 10px;
}

.balance {
  margin: auto 0;
  margin-right: 30px;
}

.balance:after {
  content: '';
  height: 18px;
  width: 1px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  margin-left: 50px;
  margin-top: -22px;
}

.like:after {
  content: '';
  height: 18px;
  width: 1px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  margin-left: 50px;
  margin-top: -22px;
}

.like {
  margin: auto 0;
  margin-right: 60px;
  margin-left: 30px;
}

.truck {
  margin: auto 0;
}

.num {
  background-color: #F94F01;
  text-align: center;
  width: 20px;
  height: 10px;
  border-radius: 7px;
  font-size: 8px;
  position: absolute;
  margin-top: -12px;
  margin-left: 15px;
}

.all-products-kategory {
  margin-top: 0px;
  padding-top: 10px;
  height: 490px;
  width: 270px;
  border: 2px solid #CACACA;
}

.all-products-kategory > li {
  list-style: none;
  font-family: Roboto-Medium;
  color: #0467B3;
  font-size: 14px;
  margin-left: -25px;
  margin-top: 5px;
}

.all-products-kategory > li:first-child {
  margin-top: 0;
}

.main-slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
}

.img-slot {
  width: 60px;
  height: 42px;
  margin-right: 20px;
}

.img-slot > img {
  display: block;
  margin: 0 auto;
}

.text-slot {
  display: block;
  margin: auto 0;
  width: 200px;
  height: 20px;
}

li:nth-child(4) > .main-slot > .img-slot > img {
  margin-top: 10px;
}

li:nth-child(9) > .main-slot > .img-slot > img {
  margin-top: 10px;
  margin-left: 10px;
}

li:last-child > .main-slot > .img-slot > img {
  margin-top: 10px;
  margin-left: 5px;
}

.block-katalog {
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.main-slide {
  background-image: url("../images/mainSlideImg.png");
  width: 620px;
  height: 270px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.main-slide > .arrow-left {
  float: left;
  margin-left: 10px;
}

.main-slide > .arrow-right {
  float: right;
  margin-right: 10px;
}

.main-slide > div {
  margin-top: 120px;
}

.slide-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 20px;
}

.left-slide {
  background-image: url("../images/left-slide.png");
  width: 300px;
  height: 210px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.left-slide > .arrow-left {
  float: left;
  margin-left: 15px;
}

.left-slide > .arrow-right {
  float: right;
  margin-right: 15px;
}

.left-slide > div {
  margin-top: 90px;
}

.right-slide {
  margin-left: 20px;
  background-image: url("../images/right-slide.png");
  width: 300px;
  height: 210px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.right-slide > .arrow-left {
  float: left;
  margin-left: 15px;
}

.right-slide > .arrow-right {
  float: right;
  margin-right: 15px;
}

.right-slide > div {
  margin-top: 90px;
}

.action-katalog {
  font-family: Roboto-Medium;
  color: #2A2A2A;
  width: 950px;
  margin: 0 auto;
}

.action-katalog > h2 {
  text-align: center;
}

.action-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.action-block > h3 {
  color: #363636;
}
/*# sourceMappingURL=main.css.map */